<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sahaay</h3>
        </div>
        <div *ngIf="isLogin()">
            <ul class="list-unstyled components">
                <p>Hey!!!</p>
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="active">
                    <a routerLink="login">Login</a>
                </li>
                <!-- <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li> -->
                <li>
                    <a routerLink="register">Sign Up</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <ng-template [ngIf]="isUser() && !isLogin()">
            <div>
                <ul class="list-unstyled components">
                    <p>Hey!!!</p>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a routerLink="postNeeds">Post Needs</a>
                    </li>
                    <li>
                        <a routerLink="events">Events</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">History</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a routerLink="myNeeds">My Needs</a>
                            </li>
                            <li>
                                <a routerLink="registeredEvents">Registered Events</a>
                            </li>
                        </ul>
                    </li>   
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </ng-template>
        <ng-template [ngIf]="!isUser() && !isLogin()">
            <ul class="list-unstyled components">
                <p>Hey!!!</p>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a routerLink="needs">Help with Needs</a>
                </li>
                <li>
                    <a routerLink="hostEvents">Host Events</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">History</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Helped Needs</a>
                        </li>
                        <li>
                            <a href="#">Hosted Events</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </ng-template>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="" class="download">Start Contributing</a>
            </li>
            <li>
                <a href="" class="article">With Sahaay</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Needs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>